<section id="game-list-view" class="container my-5">
    <div id="validation-container" class="text-danger" [hidden]="!errorOccured">*{{errorMsg}}</div>
    <div id="success-container" class="d-flex justify-content-center mb-1">
        <span class="text-success" [hidden]="!defaultUpdated">Default theme successfully updated.</span>
    </div>
    <form id="game-input" class="w-75 float-start d-flex my-3">
        <div class="color-input-group input-group mx-2">
            <label for="color-select" class="input-group-text text-body">Color</label>
            <input id="color-select" class="form-control text-body h-100" type="color" name="color-select"
                [value]="color" [(ngModel)]="color" />
        </div>

        <div class="input-group mx-2">
            <label for="player-select" class="input-group-text text-body">Player</label>
            <select id="player-select" class="form-control text-body" name="player-select" [(ngModel)]="playerToken">
                <option *ngFor="let token of meta?.tokens" [value]="token.name">{{token.name}}</option>
            </select>
        </div>
        <div class="input-group mx-2">
            <label for="computer-select" class="input-group-text text-body">Computer</label>
            <select id="computer-select" class="form-control text-body" name="computer-select"
                [(ngModel)]="computerToken">
                <option *ngFor="let token of meta?.tokens" [value]="token.name">{{token.name}}</option>
            </select>
        </div>
        <button class="btn btn-primary" id="create-game-btn" (click)="createGame()">Create</button>
        <button class="btn btn-secondary text-nowrap mx-2" (click)="setDefault()">Set As Default</button>
    </form>
    <table id="game-list" class="table table-secondary table-striped-custom my-3">
        <thead class="border-1">
            <tr>
                <th>Status</th>
                <th>Player</th>
                <th>Computer</th>
                <th>Time Started</th>
                <th>Time Finished</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="game-list-body">
            <tr *ngFor="let game of games">
                <td><span>{{game.status}}</span></td>
                <td><img src="{{game.theme.playerToken.url}}" alt="{{game.theme.playerToken.name}}"></td>
                <td><img src="{{game.theme.computerToken.url}}" alt="{{game.theme.computerToken.name}}"></td>
                <td><span>{{game.start | date: 'EEE MMM d y'}}</span></td>
                <td><span>{{game.end | date: 'EEE MMM d y'}}</span></td>
                <td><button class="btn" [ngStyle]="{'background-color': game.theme.color}"
                        [routerLink]="['/games', game.id]">view</button>
                </td>
            </tr>
        </tbody>
    </table>
</section>