#game-view {
  padding: 50px;
}

#connect4-board {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin: 0 auto;
  width: max-content;
  padding: 0.5rem 1rem;
}

#token-drop {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin: 0 auto;
  height: 130px;
  padding: 0.5rem 1rem;
}

#status-gif-container {
  max-height: 110px;
}

#game-board {
  border: 1px solid gray;
  width: fit-content;
  padding: 0;
}

.row,
#drop-row {
  display: flex;
  flex-direction: row;
  gap: 4px;
  padding: 0;
  margin: 0;
}

.cell img,
.drop-cell img {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  border: 2px solid transparent;
  position: relative;
  left: -2px;
  top: -2px;
}

.drop-cell {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  background-color: white;
  border: 2px solid transparent;
  padding: 0;
}

.drop-cell:hover img {
  visibility: visible;
  cursor: pointer;
}

.drop-cell img {
  visibility: hidden;
}

.cell {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  background-color: white;
  border: 2px solid black;
  padding: 0;
}
